.main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  gap: 10px;
}

.img {
  width: 17px;
  height: 17px;
}

.input {
  outline: none;
  width: 250px;
  border: none;
  font-size: 20px;
}

.btn-delete {
  color: #bdbdbd;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}



@media (max-width: 630px) {
  .input {
    font-size: 15px;
  }
}